<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eat-Da-Burger</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <script src="/assets/js/burgers.js"></script>

</head>

<body>
    <div class="container backdrop">

        <header>
            <div class="jumbotron text-center">

                <img class="img-responsive center-block" alt="burger" src="/assets/img/burger.png">

                <h1 class="page-header">Eat Da Burger!</h1>


            </div>

        </header>

        {{{ body }}}

    </div>

    <footer>
      <a href="https://github.com/evenou509/burger">GitHub Repo</a>
  	</footer>

</body>

</html>